.chat-main__message-list__box{data: {message: {id: message.id}}}
  .chat-main__message-list__data
    %p.chat-main__message-list__data__name
      = message.user.name
    %p.chat-main__message-list__data__time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  - if message.content.present?  
    %p.chat-main__message-list__box__message
      = message.content
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
